.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.navlinks {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navlinks a {
  text-decoration: none;
  color: white;
}

#cartIcon {
  width: 14px;
}

#catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

#catalog a {
  margin: 8px;
  text-decoration: none;
  color: black;
}

.item {
  max-width: 300px;
  box-sizing: border-box;
  border: 3px black solid;
  padding: 5px;
}

.item img,
.itemDetails img,
#cart img {
  width: 100%;
}

.itemDetails {
  display: flex;
  flex-wrap: wrap;
}

.image {
  max-width: 700px;
}

#cart {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cart h1 {
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  max-width: 500px;
  box-sizing: border-box;
  padding: 24px 10px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
}

.cart-image {
  flex: 1;
}

.cartItemDetails {
  flex: 2;
  margin-left: 10px;
  display: flex;
}

.quantity {
  color: #666;
}

.removeItem {
  color: #666;
  text-decoration: underline;
}

.removeItem:hover {
  opacity: 0.75;
  cursor: pointer;
}

.price {
  margin-left: auto;
}

#cart h2 {
  max-width: 500px;
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box;
}