.App {
  text-align: center;
}

Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.navlinks {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navlinks a {
  text-decoration: none;
  color: white;
}

#cartIcon {
  width: 14px;
}

#catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#catalog a {
  margin: 8px;
  text-decoration: none;
  color: black;
}

.item {
  max-width: 300px;
  box-sizing: border-box;
  border: 3px black solid;
  padding: 5px;
}

.item img,
.itemDetails img,
#cart img {
  width: 100%;
}

.itemDetails {
  display: flex;
  flex-wrap: wrap;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.image {
  max-width: 700px;
}

.details {
  text-align: center;
  align-self: center;
}

.details h2 {
  font-size: 30px;
}

.details p {
  font-size: 18px;
}

.quantityInput {
  display: flex;
  justify-content: center;
}

.quantityInput input {
  font-size: 18px;
  border-color: black;
  box-sizing: border-box;
  padding: 0;
  height: 30px;
  width: 34px;
  text-align: center;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantityInput button,
.addButton {
  border: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  background-color: black;
  width: 30px;
  height: 30px;
  outline: none;
}

.quantityInput button:hover,
.addButton:hover {
  cursor: pointer;
  background-color: #444;
}

.addButton {
  width: 94px;
  height: 30px;
  font-weight: bold;
  margin-top: 15px;
}

#cart {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cart h1 {
  text-align: center;
}

.cartItem {
  display: flex;
  align-items: center;
  max-width: 500px;
  box-sizing: border-box;
  padding: 24px 10px;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;
}

.cart-image {
  flex: 1;
}

.cartItemDetails {
  flex: 2;
  margin-left: 10px;
  display: flex;
}

.quantity {
  color: #666;
}

.removeItem {
  color: #666;
  text-decoration: underline;
}

.removeItem:hover {
  opacity: 0.75;
  cursor: pointer;
}

.price {
  margin-left: auto;
}

#cart h2 {
  max-width: 500px;
  margin: 10px auto;
  padding: 0 10px;
  box-sizing: border-box;
}

@media (max-width:916px) {
  .itemDetails {
    justify-content: center;
  }
}